---
layout: page
title:
url: /
---

<div class="posts">
{% for post in paginator.posts %}
  <div class="post">

	<h2 class="meta title"><a href="{{post.url}}">{{post.title}}</a></h2>
	
	<div class="body">{{post.content}}</div>

	<span class="meta">

		{% if post.author %}
			Posted by
				{% if post.authorurl %}
					<a href="{{post.authorurl}}">{{post.author}}</a>
				{% else %}
					{{post.author}}
				{% endif %}
				on
		{% endif %}

		{{post.date | date_to_string}} | <a href="{{post.url}}">linky</a>

	</span>
	
  </div>
{% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
	  {% if paginator.previous_page %}
		  {% if paginator.page == 2 %}
			<a href="/" class="previous">Previous</a>
		  {% else %}
			<a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
		{% endif %}
	  {% endif %}
  
	  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
	  

	  {% if paginator.next_page %}
		  <a href="/page{{paginator.next_page}}" class="next ">Next</a>
	  {% endif %}
</div>