body {
    background: #292929 url(/assets/bg.png);
    color: #FFF;
    font-family: calibri,tahoma,arial,sans-serif;
}

#c {
	min-width: 700px;
	width: 70%;
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	font-size: 2.4em;
	text-align: center;
}

h1 a {
	text-shadow: 
		-1px -1px 1px #111,
	    1px -1px 0 #FF8000,
	    -1px 1px 1px #EEE,
	    1px 1px 1px #EEE;
	color: inherit;
	font-weight: normal;
	letter-spacing: 0em;
	font-family: "Consolas","Lucida Console",Courier,mono;
}

h1 a:hover, h1 a:focus {
	text-decoration: none;
	text-shadow: 
		-1px -1px 1px #111,
	    1px -1px 0 #FFF,
	    -1px 1px 1px #EEE,
	    1px 1px 1px #EEE;
}

a {
	color: #FF8000;
	text-shadow: 1px 0 0 rgba(255,255,255,.5);
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
	color: #FFF;
}

pre {
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 0 5px #666;
	overflow-x: auto;
}

pre, code {
	font-size: .93em;
	font-family: "Consolas","Lucida Console",Courier,mono;
}

.info {
	text-align: center;
	color: #EEE;
	font-style: italic;
	font-size: 1.2em;
	margin-bottom: 40px;
}

/* POST */

.posts {
	border-top: 1px solid #666;
}

.post {
	padding: 20px;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	background: #222;
	background: rgba(33, 33, 33, 0.7);
}

.posts .post {
	border-bottom: 15px solid #666666;
}

.post p {
	padding: .7em 0;
	margin: 0;
}

.body {
	padding: 15px 0;
}

.meta {
	display: block;
	text-align: right;
	padding: 7px;
	line-height: 1em;
	border-radius: 5px;
	border-top: 2px solid #111;
	border-right: 1px solid #111;
	background: rgba(0,0,0,0.15);
}

h2.title {
	font-weight: 700;
	font-size: 1.2em;
	text-align: left;
	margin: 0;
}

.pagination {
	text-align: center;
	padding: 20px 0;
}

/* FOOT */

#wt {
	text-align: center;
	margin-top: 40px;
}