<!doctype html>

<meta charset="utf-8" />

{% if page.title %}
	<title>{{page.title}} - Ugly JS</title>
{% else %}
	<title>Ugly JS</title>
{% endif %}

<link href="http://feeds.feedburner.com/UglyJS" rel="alternate" title="Ugly JS" type="application/atom+xml" />

<link rel="stylesheet" href="/assets/ugly.css" />
<link rel="stylesheet" href="/assets/pyg.css" />

<h1><a href="/">/Ugly/ + 'JavaScript'</a></h1>

<div id="c">

	<p class="info">
		A place for ugly, silly, or just-plain-crap JavaScript.
	</p>

	{{ content }}
	
</div>

<div id="wt">
	<p>
		<a href="http://feeds.feedburner.com/UglyJS">Subscribe</a> to get more ugliness!
		<br/>.........<br/>
		<a href="https://github.com/uglyjs/uglyjs.github.com">Fork</a> then send a pull request to contribute.
	</p>
</div>

<script>

	var _gaq = [['_setAccount', 'UA-3768993-8'], ['_trackPageview']];

	(function(ga, s) {
		ga.async = true;
		ga.src = 'http://www.google-analytics.com/ga.js';
		s.parentNode.insertBefore(ga, s);
	}(
		document.createElement('script'),
		document.getElementsByTagName('script')[0]
	));

</script>