<!doctype html>

<meta charset="utf-8" />

<title>Ugly JS</title>

<link href="http://feeds.feedburner.com/UglyJS" rel="alternate" title="Ugly JS" type="application/atom+xml" />

<link rel="stylesheet" href="/assets/ugly.css" />
<link rel="stylesheet" href="/assets/pyg.css" />

<h1><a href="/">/Ugly/ + 'JavaScript'</a></h1>

<div id="c">

	<p class="info">
		A place for ugly, silly, or just-plain-crap JavaScript.
	</p>

	{{ content }}
	
</div>

<div id="wt">
	<p>
		<a href="https://github.com/uglyjs/uglyjs.github.com">Fork</a> then send a pull request to contribute.
		<br/>
		.........
		<br/>
		Brought to you by people who laugh at your JS!
	</p>
</div>